.tftable1 {
  font-size: 12px;
  color: #333;
  width: 50%;
  border-width: 1px;
  border-color: #729ea5;
  border-collapse: collapse; 
}

.tftable2 {
  font-size: 12px;
  color: #333;
  width: 50%;
  border-width: 1px;
  border-color: #729ea5;
  border-collapse: collapse;
}

.tftable3 {
  font-size: 12px;
  color: #333;
  width: 50%;
  border-width: 1px;
  border-color: #729ea5;
  border-collapse: collapse;
}




.tftable th {
  font-size: 18px;
  background-color: #acc8cc;
  border-width: 1px;
  padding: 2px;
  border-style: solid;
  border-color: #729ea5;
  text-align: left;
}

.tftable tr {
  background-color: #fff;
  
}

.tftable td {
  font-size: 14px;
  border-width: 1px;
  padding: 3px;
  border-style: solid;  

}

.tftable tr:hover {
  background-color: #ff99;
}

.c1 {
  background-color: #ffe599;
}

.c2 {
  background-color: #d9ead3;
}

.c3 {
  background-color: #f4cc;
}

.c4 {
  background-color: #8685db;
}

.Total{
  
  padding: 50px;
  font-size: 20px;
  margin-top: 2px;
  border-style: solid;
  border-width: 1px;
  position: fixed;
  top: 10px;
  left: 70%;
}
